body{
  background: #1B1B24;
  color:#fff;
  font-family: helvetica, arial, sans-serif;
}

ul, li {
  list-style: none;
  margin: 0 5px;
  padding: 0;
}

h1{
  color: #fff;
  font-size:2em;
  font-family: 'Helvetica', cursive;
}

#content {
  width:100%;

}
#map{
  width:100%;
  height:500px;
  border: 10px solid #bbb;
}

#user {
  margin-bottom: 5px;
}

#user input {
  padding:3px 5px; width:100%; font-size:14px;
}

.your-location {
  background:#bbb; color:#333; padding:0 5px 5px 5px; width:100%; font-size:12px;}

.block {
  padding:10px 5px;
  background:white;
  color:#333;
  border-bottom: 1px solid #bbb;
}

.block ul {
  margin:0;
}

.block h4 { 
  margin:0 0 5px 0;
}
